{% extends "base.html" %} 
 
{% block content %}
<main>
  <section class="container my-5 px-4">
    <h1 class="text-center"><span style="color:red">Ya</span>Cut</h1>
    <p>
      <h3 class="text-center my-4">
        (Ошибка 404) Страница с таким адресом не найдена! </h3>
      <h5 class="text-center my-4">  Возможно Вы допустили ошибку в ссылке <a href="{{ url }}"> {{ url }} </a>?</h5>
      <h5 class="text-center my-4"> Попробуйте её исправить или <a href="{{ url_for('index_view') }}"> сформируйте </a> заново!
      </h5>
    </p>
  </section>
</main>
{% endblock %} 